*{
    box-sizing: border-box;
    overflow: hidden;
}
.Top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    font-weight: bold;
}
table{
    border: 5px solid red;
    background-color: bisque;
    border-collapse: collapse;
    margin: auto; 
}
td{
    width: 150px;
    height:100px;
    border: 3px solid green;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "courier";
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}
.holiday{
    color: red;
}
td:hover{
    background-color: darkred;
    color: white;
    font-size: 50px;
}